=builder.fields_for entity do |delivery|
  .col-md-6    
    =delivery.label entity, style: "text-decoration: underline"
    .field
      = delivery.text_field :first_name
    .field
      = delivery.text_field :last_name 
    .field
      = delivery.text_field :address
    .field
      = delivery.text_field :zip_code
    .field
      = delivery.text_field :city
    .field
      = delivery.text_field :phone
    .field
      = delivery.country_select :country