.container
  .row
    .col-md-10
      %h1
        %a{:href => "/users"}
        =image_tag current_user.avatar, :class => "img-circle"
        =current_user.email
      %br
  %br
    .row
      .col-md-3
        / left col
        %ul.list-group
          %li.list-group-item.text-muted{:contenteditable => "false"} Profile
          -unless current_user.full_name.nil?
            %li.list-group-item.text-right
              %span.pull-left
                %strong Name
              =current_user.full_name
          - if current_user.role?(:admin) 
            %li.list-group-item.text-right
              %span.pull-left
                %strong Role:
                Admin
            %li.list-group-item.text-right
              %span.pull-left
                %strong Dashboard
                = link_to dashboard_path
        -if can? :crud, Cart        
          %ul.list-group
            %li.list-group-item.text-muted
              Your products
            %li.list-group-item.text-right
              %span.pull-left
                %i.fa.fa-list
                %strong=link_to "Orders", orders_path 
              =current_user.orders.count                  
      .col-md-9{:contenteditable => "false", :style => ""}
        .panel.panel-default
          .panel-heading Edit Profile
          .panel-body
            = bootstrap_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
              = devise_error_messages!
              .row
                .col-md-6
                  .field
                    = f.text_field :first_name
                .col-md-6
                  .field
                    = f.text_field :last_name  
              .row      
                .col-md-6          
                  .field
                    = f.email_field :email, autofocus: true
                  - if devise_mapping.confirmable? && resource.pending_reconfirmation?
                    %div
                      Currently waiting confirmation for: #{resource.unconfirmed_email}
              %i.text-left (leave blank if you don't want to change it)
              .row
                .col-md-6
                  .field
                    = f.password_field :password, autocomplete: "off"
                .col-md-6
                  .field
                    = f.password_field :password_confirmation, autocomplete: "off"
              .row
                .col-md-6      
                  .field
                    %i (we need your current password to confirm your changes)
                    %br/
                    = f.password_field :current_password, autocomplete: "off"
              %br
              .row
                .col-md-12    
                  - resource.build_shipping_address unless resource.shipping_address
                  - resource.build_billing_address unless resource.billing_address

                  =render partial: 'address', locals: { builder: f, entity: :shipping_address }
                  =render partial: 'address', locals: { builder: f, entity: :billing_address }
              %br
              .row
                .col-md-12
                  - resource.build_credit_card unless resource.credit_card                
                  =render partial: 'credit_card', locals: { builder: f, entity: :credit_card }
              %br      
              .actions
                = f.submit "Update", class: "btn btn-success"
        .panel.panel-default
          .panel-heading Cancel my account
          .panel-body
            %p Unhappy?
            =button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-info"
