.col-md-8
  =form.fields_for :shipping_address, @order_form.shipping_address do |s|
    .col-md-6
      =field_set_tag "Shipping Address" do
        .field
          = s.text_field :first_name
        .field
          = s.text_field :last_name
        .field
          = s.text_field :address
        .field
          = s.text_field :zip_code
        .field
          = s.text_field :city
        .field
          = s.text_field :phone
        .field
          = s.country_select :country

  =form.fields_for :billing_address, @order_form.billing_address do |b|
    .col-md-6
      =field_set_tag "Billing Address" do
        .field
          = b.text_field :first_name
        .field
          = b.text_field :last_name    
        .field
          = b.text_field :address
        .field
          = b.text_field :zip_code
        .field
          = b.text_field :city
        .field
          = b.text_field :phone
        .field
          = b.country_select :country
.col-md-4
  =render 'order_summary'
