.container
  / - url = @order_form.last_step? ? finish_orders_path : steps_orders_path

  =bootstrap_form_for @order_form, url: steps_orders_path do |form|
    - if @order_form.errors.any?
      #error_explanation
        %h2
          = pluralize(@order_form.errors.count, "error")
          prohibited this post from being saved:
        %ul
          - @order_form.errors.full_messages.each do |msg|
            %li= msg
    .row
      =render "#{@order_form.current_step}_step", form: form
    .row
      .col-md-6
        %br
        = form.submit "GO BACK", :name => "back_button", class: "btn btn-info" unless @order_form.first_step?
      .col-md-6.pull-right
        %br
        = form.submit "SAVE AND CONTINUE", class: "btn btn-success"
        
    
