.container
  .row
    .col-md-12.text-center
      = link_to user_omniauth_authorize_path(:facebook) do
        %i.fa.fa-5x.fa-facebook-square         
      %br
      %br
      OR
      %br
      %br
.container
  .row
    .col-md-4.col-md-offset-4
      = bootstrap_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
        = f.email_field :email, placeholder: "your email", skip_label: true, autofocus: true
        .pull-right
          %span.fa.fa-1x.fa-question-circle
          = link_to "Forgot your password?", new_password_path(resource_name)
        = f.password_field :password, placeholder: "your password", skip_label: true, autocomplete: "off"
        - if devise_mapping.rememberable?
          = f.check_box :remember_me
        = f.submit "Log in", class: "btn btn-success btn-block"
      %br
      %span
        Don't have an account?           
        = link_to "Sign up", new_registration_path(resource_name)

